* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./609938.jpg);
    background-repeat: repeat no-repeat;
    background-size: cover;
    height: 100%;
    height: 100vh;
    /* background-color: #B0DAFF; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#todo-app {
    max-height: 700px;
    width: 600px;
    margin: 100px auto 20px;
    padding: 40px 30px 60px;
    border-radius: 2px;
    outline: 0;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #eeeeee;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow-x: hidden;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
    color: #eeeeee;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 2px;
    height: 50px;
    color: #eeeeee;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
}

#todo {
    margin-top: 2rem;
}

input {
    background-color: transparent;
    border-bottom: 1px solid #eeeeee;
    flex: 1;
    height: 100%;
    outline: none;
    padding: 15px;
    padding-right: 57px;
    width: 80%;
    color: #eeeeee;
    border: none;
}

#arrow {
    position: absolute;
    padding: 20px;
    height: 100%;
    right: 0;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

ul li {
    border-radius: 2px;
    padding: 0.9rem 2.5rem;
    padding-right: 3rem;
    background-color: #eeeeee;
    width: 100%;
    list-style-type: none;
    position: relative;
    margin-top: 1rem;
    cursor: pointer;
    overflow-y: hidden;
    color: black;
    text-overflow: ellipsis;
}

ul li span {
    position: absolute;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    top: 30%;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #B0DAFF;
}

.check.clicked::before {
    background-color: #151922;
}

.check::before {
    content: '';
    border: 1px solid #151922;
    width: 10px;
    height: 10px;
    color: #151922;
    position: absolute;
    left: 15px;
    top: 40%;
    border-radius: 50%;
}

@media only screen and (max-width: 576px) {

    #todo-app {
        max-width: 300px;
    }
}